/* animation button start  */
/* The loader container */
/* The loader container */
::selection {
  color: #fff;
  background-color: #027a7c;
}

.loader {
  -webkit-perspective: 200px;
  perspective: 200px;
}

.appShadow {
  text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.5);
}

/* The dot */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
  border-radius: 100px;
  border: 40px outset #1e3f57;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
    translateZ(-25px);
  transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  background-color: transparent;
  -webkit-animation: dot1 1000ms cubic-bezier(0.49, 0.06, 0.43, 0.85) infinite;
  animation: dot1 1000ms cubic-bezier(0.49, 0.06, 0.43, 0.85) infinite;
}

.dot:nth-child(2) {
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
  border-width: 30px;
  border-color: #447891;
  -webkit-animation-name: dot2;
  animation-name: dot2;
  -webkit-animation-delay: 75ms;
  animation-delay: 75ms;
  -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
    translateZ(-25px);
  transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
}

.dot:nth-child(3) {
  width: 160px;
  height: 160px;
  margin-top: -80px;
  margin-left: -80px;
  border-width: 20px;
  border-color: #6bb2cd;
  -webkit-animation-name: dot3;
  animation-name: dot3;
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
  -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
    translateZ(-25px);
  transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
}

@-webkit-keyframes dot1 {
  0% {
    border-color: #1e3f57;
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }

  50% {
    border-color: #1e574f;
    -webkit-transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg)
      translateZ(0px);
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }

  100% {
    border-color: #1e3f57;
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}

@keyframes dot1 {
  0% {
    border-color: #1e3f57;
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }

  50% {
    border-color: #1e574f;
    -webkit-transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg)
      translateZ(0px);
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }

  100% {
    border-color: #1e3f57;
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}

@-webkit-keyframes dot2 {
  0% {
    border-color: #447891;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }

  50% {
    border-color: #449180;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    -webkit-transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg)
      translateZ(0px);
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }

  100% {
    border-color: #447891;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}

@keyframes dot2 {
  0% {
    border-color: #447891;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }

  50% {
    border-color: #449180;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    -webkit-transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg)
      translateZ(0px);
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }

  100% {
    border-color: #447891;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}

@-webkit-keyframes dot3 {
  0% {
    border-color: #6bb2cd;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }

  50% {
    border-color: #6bcdb2;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    -webkit-transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg)
      translateZ(0px);
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }

  100% {
    border-color: #6bb2cd;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}

@keyframes dot3 {
  0% {
    border-color: #6bb2cd;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }

  50% {
    border-color: #6bcdb2;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    -webkit-transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg)
      translateZ(0px);
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }

  100% {
    border-color: #6bb2cd;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg)
      translateZ(-25px);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}
/* animation button end  */
/* section{
  width: 100vw;
  overflow-x: hidden;
} */
ul {
  list-style-type: square;
  padding: 0px 30px;
}
select{
  background: transparent !important;
}
html {
  scroll-behavior: smooth;
}

.subMenu {
  position: absolute;
  top: 100%;
  right: -20px;
  z-index: 12;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 35px !important;
}
.swiper.HomeBannerSwipeWrap .swiper-button-prev,
.swiper.HomeBannerSwipeWrap .swiper-button-next {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
.HomeBannerSwipeWrapSliderImg {
  width: 100%;
  object-fit: cover;
}

/* ============ */

.menu-berar-icon {
  display: none;
}

.contactFormOfHome {
  width: 100%;
  height: 100%;
  /* max-height: 750px; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.HomeTestimonialSwipeWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.HomeTestimonialSwipeWrap .swiper-pagination-fraction, .HomeTestimonialSwipeWrap .swiper-pagination-custom, .HomeTestimonialSwipeWrap .swiper-horizontal > .swiper-pagination-bullets, .HomeTestimonialSwipeWrap .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -25px !important;
}
.HomeTestimonialSwipeWrap .swiper-pagination-bullet-active {
  background: #000 !important;
}

.modal {
  background-color: #0000008f;
  backdrop-filter: blur(7px);
}

.part {
  margin: 0 0 10px 0;
}
.titleOfParagraph {
  font-size: 35px;
  margin: 0 0 10px 0;
  font-weight: 500 !important;
}

.StepItem,
.StepItemBefore,
.stepName,
.Tir {
  position: relative;
}
.StepItem::after {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
.StepItemBefore::before {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background-color: #ddd;
  position: absolute;
  top: 20px;
  left: 100%;
  margin: auto;
  z-index: -1;
}
.stepName::after {
  content: "";
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0;
  right: 30px;
  top: 100%;
  margin: auto;
  border: 7px solid transparent;
  z-index: -1;
  border-top-color: #00aaac;
}
.accordion__button:hover {
  background-color: #00aaac !important;
  color: #fff;
}

.Tir::after {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  margin: auto;
  border: 20px solid transparent;
  border-right: 20px solid #00aaac;
}

.progress-bar {
  position: fixed;
  height: 4px;
  background: #00aaac;
  transform-origin: 0%;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
}

img{
  filter: saturate(130%) contrast(107%);
  -webkit-filter: saturate(130%) contrast(107%);
  -moz-filter: saturate(149%) contrast(107%);
}
.noFilterImg{
  filter: saturate(100%) contrast(100%);
  -webkit-filter: saturate(100%) contrast(100%);
  -moz-filter: saturate(100%) contrast(100%);
}
.clearFilter{
  filter: saturate(110%) contrast(105%);
  -webkit-filter: saturate(110%) contrast(105%);
}

.textShadow{
  text-shadow: 2px 3px 2px rgba(0,0,0,0.5);
}
.textShadowNormal{
  text-shadow: 2px 3px 2px rgba(0,0,0,0.3);
}

.Testimonial .swiper-pagination-bullet{
  opacity: 0.2 !important;
}
.Testimonial .swiper-pagination-bullet.swiper-pagination-bullet-active{
  opacity: 1 !important;
  background-color: #00AAAC !important;
}

.PathwayItem_Left::after{
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #00AAAC;
  position: absolute;
  right: 100%;
  top: 0;
}

.PathwayItem_Left::before{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: #00AAAC;
  position: absolute;
  right: 100%;
  top: 0%;
  transform: translate(50%, 0%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(50%, 0%);
  -moz-transform: translate(50%, 0%);
  -ms-transform: translate(50%, 0%);
  -o-transform: translate(50%, 0%);
}

.PathwayItem_Right::after{
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #00AAAC;
  position: absolute;
  right: 0;
  top: 0;
}


.PathwayItem_Right::before{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: #00AAAC;
  position: absolute;
  right: 0%;
  top: 0%;
  transform: translate(50%, 0%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(50%, 0%);
  -moz-transform: translate(50%, 0%);
  -ms-transform: translate(50%, 0%);
  -o-transform: translate(50%, 0%);
}

.IndustrialOfPartner .swiper-pagination-bullet{
  background: #00AAAC !important;
  width: 20px;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.IndustrialOfPartner .swiper-button-prev, .IndustrialOfPartner .swiper-button-next{
  opacity: 0 !important;
}

.TopQualifications .swiper-pagination-bullets, .TopQualifications .swiper-pagination-bullets{
  opacity: 0 !important;
}
.TopQualifications .swiper-button-next, .TopQualifications .swiper-button-prev {
   background: #00AAAC;
   width: 50px;
   height: 50px;
   border-radius: 25px;
   /*font-size: 16px;
   */transform: scale(.9);
   opacity: .5;
   transition: all .7s;
   -webkit-transition: all .7s;
   -moz-transition: all .7s;
   -ms-transition: all .7s;
   -o-transition: all .7s;
}
.TopQualifications:hover .swiper-button-next, .TopQualifications:hover .swiper-button-prev {
  opacity: 1;
}
.TopQualifications .swiper-button-prev:after, .TopQualifications .swiper-button-next:after{
  font-size: 16px !important;

}

@media only screen and (max-width: 1100px) {
  .menu-berar-icon {
    display: block;
  }
  .NAVBAR {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .Tir::after {
    top: unset;
    bottom: unset;
    right: unset;
    margin: unset;
    border: 20px solid transparent;
    border-bottom: 20px solid #00aaac;
    z-index: 10;
    top: -35px;
  }

  .titleOfParagraph {
    font-size: 25px;
  }
  .HomeTestimonialSwipeWrap .swiper-pagination-fraction, .HomeTestimonialSwipeWrap .swiper-pagination-custom, .HomeTestimonialSwipeWrap .swiper-horizontal > .swiper-pagination-bullets, .HomeTestimonialSwipeWrap .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px !important;
  }
}

