@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .commonBtnStyle {
    @apply block w-fit bg-secondary hover:bg-white hover:text-secondary text-white border-2 border-secondary transition-all rounded-full p-2 text-center font-medium capitalize px-9 py-3;
  }
  .NewCommonBtnStyle {
    @apply block w-fit bg-primary hover:bg-white hover:text-secondary text-white border-2 border-secondary transition-all rounded-full p-2 text-center font-medium capitalize px-9 py-3;
  }
  .appTitle {
    @apply lg:text-[45px] text-[30px] text-primary text-center md:text-left;
  }
}